@model System.Collections.Generic.List<StoreApp.ViewModels.ShoppingCartViewModel>

@{
    ViewBag.Title = "Shopping Cart";
    Layout = "_Layout";
  decimal total = 0;
  var counter = 0;
  
}
@if (Model.Any())
{
  
<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Title</th>
    <th scope="col">Image</th>
    <th scope="col">Category</th>
    <th scope="col">Color</th>
    <th scope="col">Size</th>
    <th scope="col">Count</th>
    <th scope="col">Price</th>
    <th scope="col">Action</th>
    
  </tr>
  </thead>
  <tbody>
  @foreach (var product in Model)
  {
    counter++;
    total += (product.Price * product.Count);
    <tr>
      <th scope="row">@counter</th>
      <td>@product.Title</td>
      <td>
        <img style="max-width: 222px;" src="/images/@product.ImageName" alt=""></td>
      <td>@product.Category.Title</td>
      <td>@product.Color.ToString()</td>
      <td>@product.Size.ToString().Replace("_","")</td>
      <td>@product.Count</td>
      <td>@product.Price</td>
      <td><a class="navbar-brand" asp-area="" asp-controller="ShoppingCart" asp-action="RemoveFromCart"  asp-route-id="@product.Id">Remove</a></td>
      
    </tr>
  }

  </tbody>
</table>

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      
    </div>
    <div class="col-sm-3">
      <h3>Total: @total</h3>
    </div>
 <div class="col-sm-3">
    <a class="btn btn-primary"  asp-area="" asp-controller="Order" asp-action="Buy">Buy</a>
 </div>
  </div>
</div>
}
else
{
  <h3>There is no Item in cart!  </h3>
}

