@model StoreApp.ViewModels.ProductViewModel
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

   
@{
    ViewData["Title"] = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Model.Title</h1>
@if (SignInManager.IsSignedIn(User))
{
    <a class="btn btn-primary float-right" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> 
}
<div>
    <div class="container">
        <img class="img-thumbnail" src="/images/@Model.ImageName" alt=""/>
    </div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.Id)
        </dd>
    </dl>
    @if (SignInManager.IsSignedIn(User))
    {
        <button class="btn btn-primary addToCart" data-productid="@Model.Id" data-userid="@User.FindFirst(ClaimTypes.NameIdentifier)?.Value" >Add To Cart</button>
    }
    else
    {
        <a class="btn btn-secondary" asp-area="Identity" asp-page="/Account/Login">Login To Add Cart</a>
    }
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
